@import url('http://fonts.cdnfonts.com/css/open-sans');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans1', sans-serif; 
}
body {
    width: 100%;
}
.header-background {
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./images/hero-4.png') ;
    background-size:cover;
    background-repeat: no-repeat;
  }
.color-white {
    color: #ffffff;
}

.brand-logo {
    float: left;
    margin-left: 48px;
    margin-top: 14px;
    
}
nav {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(136, 136, 136, 0.5);   
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
}
nav ul {
     min-width: 586px;
    max-width: 664px;
    list-style: none;
    line-height: 68px;
    width: 65%;
    display: inline-block;
    color: white;
    
}
.lists {
    font-size: 14px;
    text-decoration: none;
    float:left;
    font-weight: 700;
}
.list-margin {
    margin-right: 3%;
}
.lists a {
    text-decoration: none;
}
.lists a:hover {
color: #000000;
}
.try-button {
    font-size: 15px;
    float: right;  
    margin-right: 48px;
    margin-top: 14px;
}
.btns {
    text-decoration: none;
    padding: 12px 30px;
    background-color: #2086fb;
    font-weight: 600;
    border-radius: 22px;
}
header {
    text-align: center;
    
}
.header-p-1 {
    font-size: 30px;
    font-weight: 600;
    margin: 148px 15% 30px 15%;
  
}
.header-inp {
height: 53px;
width: 95%;
padding-left:20px;
border: none;
font-size: 16px;
outline: none;
float: left;
/* background:url('https://img.icons8.com/ios-glyphs/20/000000/search--v1.png')no-repeat right;
background-color: #ffffff; */
}
.header-inpbutton {
    border: none;
    width: 5%;
    float: left;
    background-color: #ffffff;
    height: 53px;
}
.header-div-1 {
    width: 65%;
    max-width: 1000px;
    display: inline-block;
    border: 5px solid rgba(155, 139, 139, 0.3);
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 229px;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4));
    position: relative; 
}
main {
    width: 100%;
     background-color: #ffffff;
}
.section-1 {
    max-width: 1400px;
    margin: 0 auto;
}
.main-ul {
    width: 100%;
    margin: 32px 0;
    display: inline-block;
}
.box {
     width: 25%;
    text-align: center;
    padding: 52px 32px 60px 32px;
    list-style: none;
    float: left;
}
.box-border {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.box-border-right {
    border-right: 1px solid #dcdcdc;
}
.box-border-bottom {
    border-bottom: 1px solid #dcdcdc;
}
.box h3:nth-child(2) {
    margin: 24px 0 10px 0;
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 600;
}
.box p:nth-child(3) {
    font-size: 16px;
    line-height: 26px;
    color: #858585;
}
footer {
    width: 100%;
   text-align: center;
   background-color:#323232;
   position:relative;
   padding-top: 64px;
   clear: both;
}
.footer-para-1 {
    font-size: 30px;
    margin-bottom: 4px;
    font-weight: 600;
}
.footer-para-2 {
    font-size: 16px;
    margin-bottom: 48px;
    font-weight: 600;
}
.footer-a-1 {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 137px;
}
.footer-para-3 {
    font-size: 14px;
    padding: 25px 0 24px 40px;
    font-weight: 600;
    background-color: #252525;
    text-align: left;

}
.scroll {
height: 28px;
width: 28px;
background-color: #4a4a4a;
position:absolute;
right: 44px;
bottom: 50px;
text-decoration: none;
color: #979797;
line-height: 35px;
}
