@import url('http://fonts.cdnfonts.com/css/open-sans');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans1', sans-serif;
  
}
body {
    width: 100%;
}

.header-background {
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./images/hero-4.png') ;
    background-size: 100% 100%;
  
}


#brand-logo {
    float: left;
    margin-left: 3%;
    margin-top: 12px;
}
nav{
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(136, 136, 136, 0.5);   
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
    align-items: center;
}

ul{
    float: left;
    list-style: none;
    line-height: 68px;
    width: 62%;
    margin: 0 2% 0 7%;
}
ul li{ 
    font-size: 14px;
    color: #ffffff;
    float: left;
   
    font-weight: 700;
} 
.lists {
    text-decoration: none;
    color: #ffffff;
    margin-right: 3%;
    float: right;
}
.lists a {
    text-decoration: none;color: #ffffff
}
.lists a:hover {
color: #000000;
}
.try-button {
    text-decoration: none;
    padding: 12px 30px;
    background-color:#2086fb;
    color: #ffffff;
    font-size: 15px;
    border-radius: 22px;
    line-height: 68px;   
    font-weight: 600;
    margin-left: 4%;
}
header {
    text-align: center;
    
}
header p {
    font-size: 30px;
    color: #ffffff;
   
    font-weight: 600;
    margin: 148px 15% 30px 15%;
  
}
header input {
height: 53px;
width: 100%;
padding: 0 20px;
border: none;
font-size: 16px;
outline: none;
}
header div {
    width: 65%;
    display: inline-block;
    border: 5px solid rgba(155, 139, 139, 0.3);
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 229px;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4));
    position: relative;
   
}
header div img {
    position:absolute;
    top:15px;
    right: 17px;
}
main {
    
    padding:40px 30px 32px 20px;
    height: 738px;
    align-items: center;
    text-align: center;
   margin: 0 auto;
   width: 100%;
}

.container {
height: 328px;
width: 25%;
float: left;

padding: 52px 32px 60px 32px;
}
.container-border {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.container-border-right {
    border-right: 1px solid #dcdcdc;
}
main div p:nth-child(2) {
    padding: 24px 0 10px 0;
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 600;
}
main div p:nth-child(3) {
    font-size: 16px;
    line-height: 26px;
    color: #858585;
}
footer {
    width: 100%;
   text-align: center;
}
#footer-upper-div {
    background-color: #323232;
  
    width: 100%;
}
#footer-lower-div {
    background-color: #252525;
    height: 68px;
    width: 100%;
    text-align: left;
    position: relative;
}
#footer-upper-div p:nth-child(1) {
    color: #ffffff;
    font-size: 30px;
    padding: 64px 0 4px 0;
    font-weight: 600;
}
#footer-upper-div p:nth-child(2) {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 48px;
    font-weight: 600;
}
#footer-upper-div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 40px 12px 40px;
    background-color: #2086fb;
    border-radius: 22px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 137px;
}
#footer-lower-div p {
    color:#ffffff;
    font-size: 14px;
    padding: 25px 0 0 40px;
    font-weight: 600;
}
#footer-lower-div a {
height: 28px;
width: 28px;
background-color: #4a4a4a;
position:absolute;
right: 44px;
top: -12px;
text-decoration: none;
color: #979797;
text-align: center;
vertical-align: sub;
}
.footer-span{
    vertical-align: sub;
}